<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create album</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="#">Creator Account</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/user_profile">My Profile</a>
              </li>
            </ul>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link" href="/user_logout">Log out</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <main>
        <div class="container">
            <h1>Create Album</h1>
            <h3>Select  available category </h3>
            <form action="/dashboard/{{profile}}/create_album" method="post" name="category">
              <p></p>
              <div class="mb-3">
                <input type="radio" id="genre" name="category" value='genre'>
                <label for="genre">Genre</label>
                <input type="radio" id="artist" name="category" value='artist'>
                <label for="artist">Artist</label>
              </div>
              <div class="mb-3">
                <button type="submit" class="btn btn-primary" name="category">Fetch</button>
              </div>
            </form>
            <!-- 2nd form -->
            <form action="/dashboard/{{profile}}/create_album" method="post" name="results">
              <div class="mb-3">
                <label for="category" class="form-label">Category</label>
                <select name="Scategory" id="category">
                  {% for item in result1 %}
                  <option value="{{item}}">{{item}}</option>
                  {% endfor%} 
                </select>
              </div>
              <div class="mb-3">
                <button type="submit" class="btn btn-primary" name="results">Fetch songs</button>
              </div>
            </form>
            
            <form action="/dashboard/{{profile}}/create_album" method="post" name="submit">
              <table border="1">
                <thead>
                  <th>SI No</th>
                  <th>Name of Song</th>
                  <th>Actions</th>
                </thead>
                <tbody>
                  {% for item in result2 %}
                  <tr>
                    <td>{{item[0]}}</td>
                    <td>{{item[1]}}</td>
                    <td>
                      <input type="checkbox" name="song_selected" value="{{item[0]}}">
                    </td>
                  </tr>
                  {%endfor%}
                </tbody>
              </table>
              <br><br>
              <p></p>
              <div class="mb-3">
                <label for="name" class="form-label">Name of album</label>
                <input type="text" class="form-control" id="album_id" name="album_name" required>
              </div>
              {% if category_data['option_choosed_in_form_1']=='genre' %}
              <div class="mb-3">
                <label for="album_genre_id" class="form-label">Album Genre</label>
                <input type="text" class="form-control" id="album_genre_id" name="album_category">
              </div>
              {% else %}
              <div class="mb-3">
                <label for="album_artist_id" class="form-label">Album artist</label>
                <input type="text" class="form-control" id="album_artist_id" name="album_category">
              </div>
              {% endif %}
              <div class="mb-3">
                <button type="submit" class="btn btn-primary" name="submit">Upload Album</button>
              </div>
            </form>

            
    
            <!-- <form action="/create_album" method="post">
              <div class="mb-3">
                <label for="name" class="form-label">Name of Album</label>
                <input type="text" class="form-control" id="name" name="name" required>
              </div>
              
              
              <div class="mb-3">
                <label for="singer" class="form-label">Duration</label>
                <input type="text" class="form-control" id="duration" name="duration" required>
              </div>
              <div class="mb-3">
                <label for="release_date" class="form-label">Release Date</label>
                <input type="date" class="form-control" id="release_date" name="release_date" required>
              </div>
              <div class="mb-3">
                <label for="lyrics" class="form-label">Lyrics</label>
                <textarea class="form-control" id="lyrics" name="lyrics" rows="3" required></textarea>
              </div>
              <div class="mb-3">
                <button type="submit" class="btn btn-primary">Upload</button>
              </div>
            </form> -->
          </div>
    </main>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</body>
</html>